<h1>Fire Emblem DB</h1>
<!-- {{ profileList | json }} -->

<div class="portrait-list" *ngIf="!showDetail">
	<div class="portrait" *ngFor="let item of profileList">
		<a (click)="setDetail(item.id)">
			<div class="head">
				<img src="assets/img/fireemblem/{{ item.img }}" alt="" />
			</div>
			<div class="body">
				<!-- <small class="id">{{ item.id }}</small> -->
				<div class="name">{{ item.name }}</div>
			</div>
		</a>
	</div>
</div>
<!-- {{ detail | json }} -->
<div class="details" *ngIf="showDetail">
	<a nz-link nzType="primary" (click)="back()"><i nz-icon type="left"></i> &nbsp;回到主页</a>
	<div class="avatar">
		<img src="assets/img/fireemblem/{{ detail.img }}" alt="" />

		<h2 class="margin-left: 10px;">
			<span class="id">[{{ detail.id }}]</span>&nbsp;{{ detail.name }}
		</h2>
	</div>
	<h3>喜欢的茶</h3>
	<ul class="list">
		<li *ngFor="let item of detail.favtea">{{ item }}</li>
	</ul>
	<h3>茶话会话题</h3>
	<ul class="list">
		<li *ngFor="let item of detail.talk">{{ item }}</li>
	</ul>
	<h3>茶话会结束会心一击</h3>
	<ul class="list">
		<li *ngFor="let item of detail.end">{{ item }}</li>
	</ul>
	<a nz-link nzType="primary" (click)="back()"><i nz-icon type="left"></i>回到主页</a>
</div>
