
nz-header,nz-footer {
  background: #7dbcea;
  color: #fff;
}

nz-footer {
  line-height: 1.5;
}

nz-sider {
  color: #fff;
  line-height: 120px;
  min-height: 100vh;

}

nz-content {
  background: white;
  min-height: 100vh;
  margin: 0;
  padding: 30px 20px;
}

nz-layout {
  margin-bottom: 48px;
}

nz-layout:last-child {
  margin: 0;
}

